<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div data-role="page" id="home">
        <div data-role="header">
            <h1>Abarrotes la China</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="grid" class="ui-btn-active">Products</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>
        <div data-role="content">
            <form action="/" method="POST">
                <input type="text" name="nombre" id="txt_name" placeholder="Nombre del producto" value="">
                
                <input type="text" name="barcode" id="txt_barcode" placeholder="Codigo de barras" value="">
            
                <input type="text" name="brand" id="txt_brand" placeholder="Marca" value="">
            
                <input type="number" name="price" id="txt_price" placeholder="Precio de venta" value="">
                
                <input type="number" name="cost" id="txt_cost" placeholder="Precio de compra" value="">
                
                <input type="number" name="stock" id="txt_stock" placeholder="Existencias" value="">
                
                <input type="date" name="expiredDate" data-inline="true" id="txt_expiredDate"  value="2025-10-25">

                <label for="flip-6">Activo</label>
                <select name="status" id="flip-6" data-role="slider" data-mini="true">
                    <option value="0">Off</option>
                    <option value="1">On</option>
                </select>

                <button type="submit" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>
            </form>
            <form>
                <input data-type="search" id="searchForCollapsibleSet">
            </form>
                <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                    <% products.forEach((product)=>{%>
                        <div data-role="collapsible" data-filtertext="<%= product.nombre %>">
                            <h3><%= product.nombre %></h3>
                            <ul data-role="listview" data-inset="false">
                                <li>Código de barras: <%= product.barcode %></li>
                                <li>Marca: <%= product.brand %></li>
                                <li>Precio: <%= product.price %></li>
                                <li>Costo: <%= product.cost %></li>
                                <li>Stock: <%= product.stock %></li>
                                <li>Fecha de caducidad: <%= product.expiredDate %></li>
                                <li>Status: <%= product.status %></li>
                                <li>
                                    <a href="/api/products/<%= product.barcode%>" class="ui-btn">Actualizar</a>
                                </li>
                                <li>
                                    <a href="/api/products/delete/<%= product.barcode%>" class="ui-btn">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    <%})%>
                </div>
        </div>
        <div data-role="footer">
            <h5>Hecho con una 💻 y con ❤ por Alina Bonilla</h5>
        </div>
    </div>
</body>
</html>